<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../includes/head %>
</head>
 <% include ../includes/header %>
  <body>
  	<div class="card">
  	<% liste.forEach(element => { %>
          <p><a href="/templates/edit/<%=element._id %>"><%= element.name %></a></p>
        <% }); %>
  	</div>

 
<footer>
    <% include ../includes/footer %>
</footer>

</body>
</html>