

<% if (locals.msgFlash.length != 0) { %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <strong><%= locals.msgFlash %></strong>

      </button>
    </div>
    <% }%>
  
    <% if (locals.msgFlashError.length != 0) { %>
      <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <strong><%= locals.msgFlashError %></strong>
 
      </div>
      <% }%>
  