<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./includes/head %>
</head>

<body class="container">

  <div id="login">
    <h1 class="text-center text-white pt-5">SIMPLON.CO</h1>
    <div class="container">
        <% include ./includes/msgFlash %>

        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" action="/signin" class="form" method="POST">
                        <h3 class="text-center text-black">Connexion</h3>
                        <div class="form-group">
                            <label for="email" class="text-black">Email:</label><br>
                            <input type="text" id="email" name="email" type="mail" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-black">Mot de passe:</label><br>
                            <input type="password" id="password"name="password" type="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-ld" value="Valider">
                            <a href="/">S'inscrire</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <% include ./includes/footer %>
</footer>

</body>
</html>